body {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed; /* Optional: keeps background fixed while scrolling */
  min-height: 100vh;
}

body.home-page {
  margin: 0;
  /* Required to keep the pseudo-element contained */
  position: relative; 
}
body.about-page {
  margin: 0;
  /* Required to keep the pseudo-element contained */
  position: relative;
}
body.quizzes-page {
  margin: 0;
  /* Required to keep the pseudo-element contained */
  position: relative; 
}
body.default-bg {
  background-image: url("../images/background.jpg");
}

/* 3. The Opacity Logic: Only runs if 'has-opacity' is in the <body> class */
body.home-page::before {
  content: "";
  background-image: url("../images/background1.png");
  
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  
  /* Standard opacity values: 0 (invisible) to 1 (solid) */
  opacity: 0.4; 
  
  /* Positions the layer to cover the entire screen */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  
  /* Sends the layer behind your text and other elements */
  z-index: -1;
}

body.quizzes-page::before {
  content: "";
  background-image: url("../images/quizzes.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  
  /* Standard opacity values: 0 (invisible) to 1 (solid) */
  opacity: 0.3; 
  
  /* Positions the layer to cover the entire screen */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  
  /* Sends the layer behind your text and other elements */
  z-index: -1;
}

body.about-page::before {
  content: "";
  background-image: url("../images/about1.jpg");
  
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  
  /* Standard opacity values: 0 (invisible) to 1 (solid) */
  opacity: 0.4; 
  
  /* Positions the layer to cover the entire screen */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  
  /* Sends the layer behind your text and other elements */
  z-index: -1;
}