{% extends 'base.html' %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{% block title %}About{% endblock title %}</title>
</head>

{% block body_class %}about-page{% endblock %}

<body>
	{% block content %}
	<p class="fs-1 fst-italic">About</p>
	<p class="lh-1 fst-italic">Welcome to Knowledge Quest, the home of some of the easiest and hardest quizez in many subjects and fields. Here you can find quizzes and trivias for many random subjects from all kinds of fields of sudies. You can attempt any of them any amount of times. I save your highest scores in your personal score board. You can see your score board on your profile page. To do both, attempt out quizzes and save your progress you need to signup for an account.</p>
	<hr>
	<p class="lh-1 fst-italic">
		This website is a personal project to showcase my skills to any future clients/employers. This website is completely made in Python. Utilizing the robust backend framework Django. Along with famous third party authentication library Django Allauth.
	</p>
	
	{% endblock content %}
	
</body>
</html>