{% extends 'base.html' %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{% block title %}{% endblock title %}</title>
</head>
<body>
	{% block content %}
	<h1 class="h1 fst-italic">{{ category.name }} Quiz</h1>

	<hr>

	<form method="post">
    {% csrf_token %}
    <div class="container">
    {% for field in form %}
        <div class="text-bold">
            <h4>Q.</h4>
            {{ field|as_crispy_field }}
        </div>
    {% endfor %}
    <button class="btn btn-success" type="submit">Submit</button>
	</form>
	</div>
	{% endblock content %}
</body>
</html>