{% extends 'base.html' %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{% block title %}{% if request.resolver_match.url_name == 'search_results' %}Search Results{% else %}Quizzes{% endif %}{% endblock title %}</title>
</head>

{% block body_class %}quizzes-page{% endblock %}

<body>
	{% block searchbar %}
	<div class="mx-auto bg-transparent" style="width: 500px; background-color: lightgray;">
    <form class="d-flex" action="{% url 'search_results' %}" method= "get" role="search">
      <input class="form-control me-2" type="search" name="q" placeholder="Search" aria-label="Search"/>
      <button class="btn text-white" type="submit" style="background-color: #6f42c1;">Search</button>
    </form>
  </div>
  {% endblock searchbar %}
	{% block content %}

	<h1>{% if request.resolver_match.url_name == 'search_results' %}Search Results{% else %}Quizzes{% endif %}</h1>

	<div>
		<p class="fst-italic fs-4">Choose a subject.</p>
	</div>

	<hr>
	<div class="row">
		{% for Category in Category_list %}
		<div class="col-sm-6">
			<div class="card h-100 shadow-sm border-0 bg-transparent">
				<div class="card-header bg-dark bg-gradient text-white p-2 fw-bold">
					Subject
				</div>
				<div class="card-body bg-opacity-50">
					<h5 class="card-title text-dark">{{ Category }}</h5>
					<p class="card-text ">{{ Category.description }} Take a quiz in {{ Category }}.  </p>
					<a href="{% url 'quiz' Category.id %}" class="btn btn-primary">Start</a>
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
{% endblock content %}
</body>
</html>